.hero--img {
  width: 396px;
  height: 232px;
  margin: auto;
  margin-top: 26px;
}

.hero--title,
.hero--text {
  margin-left: 36px;
}

.hero--title {
  margin-top: 40px;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}

.hero--text {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  margin-top: 20px;
  max-width: 320px;
  color: #222222;;
}